// tpl-parts

.analysis, .program_latest {
  padding-bottom: 30px;
  @include rwd-range(1024, 768) {padding-bottom: 50px}
  @include rwd-min(1025) {padding-bottom: 120px}
}

// filters
.filters {
  margin-bottom: 60px;
  @include rwd-min(1025) {margin: 30px 0 100px}
  position: relative;
  .on_analysis & {
    @include rwd-min(1025) {
      .selectric .label {
        font-size: 15px;
        text-transform: none;
      }
    }
  }
  .on_programs & {
    .filters__group.program_filter {display: none}
  }
  &__row {
    @include rwd-min(1025) {
      @include flexbox;
      @include justify-content(space-between);
      margin-right: -2px;
    }
  }
  &__group {
    @include rwd-min(1025) {
      @include flex(1);
      margin-right: 2px;
    }
    @include rwd-max(1024) {margin-bottom: 2px}
  }
  .show_box {
    top: 100%;
    margin-top: 15px;
    @include transform(translate(-50%, 0));
  }
}

// load_more
.load_more_holder {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  @include rwd-min(1025) {padding-top: 20px}
}
.load_more {
  display: block;
  width: 100%;
  line-height: 40px;
  color: $tx;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 4px solid $tx;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  z-index: 0;
  @include hover {
    color: $cl;
    &:after {color: $cl}
    &:before {width: 100%}
  }
  &:after {
    @extend %ani;
    content: '\e933';
    font-family: $icons;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 26px;
    line-height: 40px;
    color: $tx;
  }
  &:before {
    @extend %ani;
    content: '';
    @include center(true, false);
    bottom: -4px;
    height: 4px;
    width: 58.82%;
    background-color: $cl;
    z-index: 1;
    @include rwd-range(1024, 768) {width: 47.53%}
    @include rwd-min(1025) {width: 38.74%}
  }
}
.loader_holder {
  width: 100%;
  height: 30px;
  position: relative;
}
.custom_coming_soon {color: $cl}


.articles {
  &__title {
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid $bg2;
    h1 {
      @extend .h2;
      margin-bottom: 0;
      text-align: center;
    }
  }

  &__wrap {
    padding-bottom: 70px;
    @include rwd-range(1024, 768) {
      width: 690px;
      margin: 0 auto;
    }
  }

  &__top {
    @include rwd-min(1025) {margin-right: -30px}
  }

  &__top_item {
    margin-bottom: 30px;
    @include rwd-min(1025) {
      width: calc(50% - 30px);
      margin-right: 30px;
    }
    .single_post__cats {
      a:first-of-type:before {content: '/';}
    }
    > a {
      display: block;
      margin-bottom: 10px;
      @include hover {opacity: 0.75}
    }
    h2 {
      padding-bottom: 10px;
      a {
        color: $tx;
        @include hover {color: $cl}
      }
    }
    p {padding-bottom: 10px}
  }

  &__top_authors {
    font-family: $ff2;
    font-weight: 500;
    .post-type-archive-photo_essay & {
      &:before {margin-right: 3px}
    }
  }

  &__top_author {
    display: inline-block;
    a {
      color: $tx;
      @include hover {color: $cl}
    }
  }

  &__container {
    @include rwd-range(1024, 768) {
      @include flexbox;
      @include flex-wrap(wrap);
      margin-right: -30px;
    }
  }
}

.article_item {
  margin-bottom: 30px;
  @include rwd-range(1024, 768) {
    margin-right: 30px;
    width: 330px;
  }
  @include rwd-max(767) {max-width: 350px}
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      .article_item__authors:before {margin-right: 3px}
    }
  }
  &__thumb {
    @include rwd-min(1025) {
      width: 351px;
      margin-right: 30px;
    }
  }

  &__info {
    padding-top: 10px;
    @include rwd-min(1025) {@include flex(1)}
    h2 {
      padding-bottom: 5px;
      a {
        color: $tx;
        @include hover {color: $cl}
      }
    }
    p {padding-bottom: 10px}
  }
  .single_post__cats {
    a:first-of-type:before {content: '/';}
  }
  &__authors {
    font-family: $ff2;
    font-weight: 500;
    &:before {
      content: 'By';
      display: inline-block;
    }
  }

  &__author {
    display: inline-block;
    a {
      color: $tx;
      @include hover {color: $cl}
    }
  }
}