// front-page
.home_main_posts {
  padding-top: 30px;

  .container {
    @include rwd-min(1025) {
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }

  .flex_start {
    @include rwd-max(1024) {
      @include flex-wrap(wrap);
    }
  }

  .cat_tax_wrap {
    font-size: 14px;
    text-transform: uppercase;
  }

  .main_post {
    @include rwd-max(1024) {
      @include order(1);
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid $bg2;
    }
    @include rwd-min(1025) {
      @include flex(1);
      margin: 0 48px;
      text-align: center;
      p {padding-bottom: 45px;}
    }
    h2 {
      max-height: 72px;
      @include rwd-min(768) {
        max-height: 98px;
      }
    }
    .cat_tax_wrap {
      margin-bottom: 10px;
      .single_post__cats .cat_term:first-child:before {
        content: '/';
      }
    }
  }

  .posts_column {
    @include rwd-max(1024) {
      padding-bottom: 30px;
      margin-bottom: 30px;
      &:not(.right_column) {
        border-bottom: 1px solid $bg2;
      }
    }
    @include rwd-range(1024, 768) {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-start);
      @include flex-wrap(wrap);
    }
    @include rwd-min(1025) {
      width: 290px;
    }

    .cat_tax_wrap {
      .single_post__cats {display: none;}
      .single_post__tax {
        margin-left: 0;
        .tax_term {
          text-transform: initial;
          &:before {
            content: '/';
          }
        }
      }
    }

    .home_post {
      @include rwd-max(767) {
        width: 100%;
      }
      @include rwd-range(1024, 768) {
        width: calc(50% - 15px);
      }
    }
  }

  .left_column {
    @include rwd-max(1024) {
      @include order(2);
    }
    &_post {
      &:not(:last-of-type) {
        margin-bottom: 30px;
        @include rwd-min(1025) {
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid $bg2;
        }
      }
      .thumb {
        @include rwd-min(768) {
          height: 225px;
        }
      }
    }
    h3 {
      max-height: 62px;
      @include rwd-min(768) {
        max-height: 72px;
      }
    }
  }

  .right_column {
    @extend .flex__mob;
    @include align-items(stretch);
    @include flex-wrap(wrap);
    @include rwd-max(1024) {
      @include order(3);
      padding-bottom: 30px;
      width: 100%;
    }
    &_post {
      @include flexbox();
      @include rwd-max(1024) {
        @include flex-direction(row-reverse);
        @include align-items(stretch);
        @include justify-content(space-between);
        &:nth-last-child(-n+2) {display: none;}
      }
      @include rwd-min(1025) {
        @include flex-direction(column);
        width: calc(50% - 15px);
        &:not(:nth-last-child(-n+2)) {
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid $bg2;
        }
      }
      &:nth-child(-n+2) {
        @include rwd-range(1024, 768) {
          margin-bottom: 55px;
        }
      }
      &:not(:first-of-type) {
        @include rwd-max(767) {
          margin-top: 30px;
        }
      }
      > div {
        @include flex(1);
        @include flexbox();
        @include flex-direction(column);
      }
      .thumb {
        @include rwd-max(1024) {
          margin: 0 0 0 10px;
        }
        @include rwd-max(767) {
          width: 111px;
          height: 83px;
        }
        @include rwd-min(768) {
          height: 86px;
          width: 130px;
        }
      }
      h4 {
        max-height: 43px;
        margin-bottom: 15px;
        @include rwd-min(768) {
          max-height: 80px;
        }
      }
      .post__authors {margin-top: auto;}
    }
    .post__author {
      @include rwd-min(768) {
        font-size: 14px;
      }
    }
  }

  .home_post .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.home_posts_row {
  @include rwd-min(1025) {
    padding-bottom: 45px;
  }
  .container {
    padding-top: 30px;
    border-top: 1px solid $bg2;
  }
  .flex_start {
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include rwd-min(768) {
      @include justify-content(flex-start);
    }
    @include rwd-range(1024, 768) {
      margin: 0 -15px;
    }
    @include rwd-min(1025) {
      margin: 0 -48px;
    }
  }

  &__post_item {
    @extend .last_no_spacing;
    margin-bottom: 30px;
    @include rwd-range(1024, 768) {
      width: calc(50% - 30px);
      margin: 0 15px 30px;
    }
    @include rwd-min(1025) {
      width: calc(25% - 96px);
      margin: 0 48px;
    }
    .cat_tax_wrap {
      .single_post__cats {display: none;}
      .single_post__tax {
        margin-left: 0;
        a:first-of-type:before {
          content: '/';
        }
      }
    }
    .thumb {
      @include rwd-range(1024, 768) {
        height: 220px;
      }
      @include rwd-min(1025) {
        height: 190px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.home_post {
  .thumb {
    display: block;
    margin-bottom: 10px;
    @include hover {
      opacity: .75;
    }
  }

  h2, h3, h4 {
    padding-bottom: 0;
    margin-bottom: 10px;
    overflow: hidden;
    a {
      color: $tx;
      @include hover {
        color: $cl;
      }
    }
  }

  p {
    padding-bottom: 10px;
  }

  .post__authors {
    font-family: $ff2;
    font-weight: 500;
    position: relative;

    .post__author {
      display: inline;
      a {
        color: $tx;
        @include hover {
          color: $cl;
        }
      }
    }
  }
}

.home_writers {
  padding-bottom: 85px;

  &_title {
    padding-bottom: 10px;
    border-bottom: 1px solid $tx;
    margin-bottom: 30px;
    @include rwd-min(768) {
      margin-bottom: 20px;
    }

    a {
      text-transform: uppercase;
      font-size: 13px;
      color: $tx;
      @include hover {
        color: $cl;
      }
    }
  }

  .writers_wrapper {
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    @include rwd-min(768) {
      margin: 0 -15px;
    }
  }

  .post_writer {
    @include justify-content(flex-start);
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    margin: 0 0 15px;
    @include rwd-min(768) {
      margin: 0 15px 15px;
    }
    @include rwd-range(1024, 768) {
      width: calc(50% - 30px);
    }
    @include rwd-min(1025) {
      width: calc(25% - 30px);
    }

    .thumb {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      @include transition();

      + * {
        @include flex(1);
      }
    }
  }

  a.post_writer {
    color: $tx;
    @include hover {
      color: $cl;
      .thumb {
        opacity: .75;
      }
    }
  }
}

.sign_up_box {
  padding: 60px 0 100px;
  background-color: #fff;
  position: relative;
  @include rwd-min(1025) {
    padding-top: 85px;
  }

  .container {
    width: 730px;
  }

  .flex {
    margin-bottom: 10px;
  }

  h2 {
    text-align: center;
    padding-bottom: 30px;
  }

  p {
    font-size: 13px;
    padding-bottom: 0;

    a {
      font-weight: 600;
      color: $tx;
      box-shadow: 0 1px;
      @include hover {
        color: $cl;
      }
    }
  }

  .button {
    padding: 15px 23px 11px;
    @include rwd-max(767) {
      font-size: 13px;
      font-weight: 300;
    }
    @include rwd-range(1024, 768) {
      padding: 14px 27px 12px;
    }
    @include rwd-min(1025) {
      padding: 14px 50px 12px;
    }
  }

  .wpcf7-form-control-wrap {
    width: 100%;
    margin-bottom: 0 !important;
  }
}

.home_photo_essay {
  padding-bottom: 30px;

  &_posts {
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    margin: 0 -15px;
  }
}

.photo_essay_post {
  @include flexbox();
  @include align-items(flex-end);
  @extend .bg;
  margin: 0 15px 30px;
  position: relative;
  padding: 18px 25px;
  width: 100%;
  height: 341px;
  @include hover {
    opacity: .75;
  }
  @include rwd-range(1024, 640) {
    width: calc(50% - 30px);
  }
  @include rwd-min(1025) {
    width: calc(25% - 30px);
    padding: 18px 20px;
  }
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 86px;
    background: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #000 100%);
  }

  > div {
    position: relative;
    z-index: 1;
  }

  h4 {
    font-weight: 600;
    color: #f0efeb;
    padding-bottom: 10px;
  }

  small {
    color: #f5f5f1;
  }
}

.home_popular {
  &_posts {
    @include rwd-min(1025) {
      @include columns(2, 30px);
      padding-bottom: 20px;
    }
  }

  .post__authors {
    font-family: $ff2;
    font-weight: 500;

    .post__author {
      display: inline-block;

      a {
        color: $tx;
        @include hover {
          color: $cl;
        }
      }
    }
  }
}

.popular_post {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-top: 1px;

  //&:not(:nth-child(5n)) {
  border-bottom: 1px solid $bg2;
  //}

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      .thumb:after {background-image: url('../images/popular-#{$i}.svg')}
    }
  }

  &__inner {
    @extend .flex_start__mob;

    div {
      @include flex(1);
      @extend .last_no_spacing;
    }
  }

  .thumb {
    display: block;
    position: relative;
    @include hover {
      opacity: .75;
    }
    @include rwd-max(767) {
      max-width: 384px;
      margin-bottom: 20px;
    }
    @include rwd-range(1024, 768) {
      width: 286px;
      height: 126px;
      margin-right: 62px;
    }
    @include rwd-min(1025) {
      width: 236px;
      height: 126px;
      margin-right: 48px;
    }

    &:after {
      content: '';
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-size: contain;
      position: absolute;
      top: -1px;
      left: 0;
      right: -1px;
      bottom: -1px;
      z-index: 1;
    }

    img {
      height: 100%;
      width: 99.5%;
      object-fit: cover;
    }
  }

  h4 {
    padding-bottom: 10px;

    a {
      color: $tx;
      @include hover {
        color: $cl;
      }
    }
  }
}

.home_podcasts {
  margin-bottom: 45px;
  &__wrapper {
    background-color: $bg3;
    padding: 35px 10px;
    @include rwd-min(1025) {
      @include flex-wrap(wrap);
      margin: 0 -35px;
    }
  }
  &__post {
    @include align-items(stretch);
    @include rwd-max(1024) {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
    @include rwd-min(1025) {
      width: calc(33.333% - 50px);
      margin: 0 25px;
    }
    figure {
      margin-right: 22px;
      width: 130px;
      height: 74px;
      @include rwd-min(768) {
        width: 168px;
        height: 95px;
      }
      a {
        display: block;
        height: 100%;
        @include hover {opacity: .75;}
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &_info {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-between);
      @include flex(1);
    }
    h3 {
      font-size: 18px;
      padding-bottom: 10px;
    }
    a { color: $tx;
      @include hover {color: $cl !important;}
    }
    .post__author, .cat_tax_wrap {
      font-family: $ff2;
      font-weight: 500;
      a {color: #2d2d2d;}
    }
    .single_post__tax .tax_term:before {
      content: '/';
    }
    a.i_play_circle_o {font-size: 31px;line-height: 21px}
  }
}

.home_editors_picks {
  margin-bottom: 20px;
  @include rwd-min(1025) {
    margin-bottom: 80px;
  }
  &__wrapper {
    @include align-items(stretch);
    @include flex-wrap(wrap);
    @include rwd-range(1024, 640) {
      margin: 0 -15px;
    }
    @include rwd-min(1025) {
      margin: 0 -23px;
    }
  }
  &__post {
    display: block;
    @include flexbox();
    @include align-items(flex-end);
    position: relative;
    height: 340px;
    width: 100%;
    padding: 18px 25px;
    margin-bottom: 30px;
    @include hover {opacity: .75;}
    @include rwd-range(1024, 640) {
      width: calc(50% - 30px);
      margin: 0 15px 30px;
    }
    @include rwd-min(1025) {
      width: calc(33.333% - 46px);
      margin: 0 23px;
      height: 520px;
      padding: 30px;
    }
    &:before {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #000 100%);
      z-index: 1;
      position: absolute;
      @include rwd-min(1025) {
        top: 131px;
      }
    }
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      object-fit: cover;
    }
    &_info {
      position: relative;
      z-index: 2;
      h3 {
        color: #f0efeb;
        @include rwd-min(1025) {
          padding-bottom: 55px;
        }
      }
      .post_authors {
        font-size: 14px;
        color: #f5f5f1;
      }
    }
  }
}

.home_contributors {
  padding-bottom: 35px;
  &__wrapper {
    @include align-items(flex-start);
    @include flex-wrap(wrap);
    @include rwd-range(1024, 640) {
      margin: 0 -15px;
    }
    @include rwd-min(1025) {
      margin: 0 -26px;
    }
  }
  .contributor {
    margin-bottom: 30px;
    width: 100%;
    @include rwd-range(1024, 640) {
      width: calc(50% - 30px);
      margin: 0 15px 30px;
    }
    @include rwd-min(1025) {
      width: calc(25% - 52px);
      margin: 0 26px 30px;
    }
    figure {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 13px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &_info {
      @include flex(1);
      padding-top: 8px;
      font-size: 13px;
      strong {
        display: block;
        margin-bottom: 3px;
      }
      p {
        font-size: 16px;
        font-family: $ff2;
        padding-bottom: 0;
        color: $tx;
        a {
          color: inherit;
          @include hover {
            color: $cl;
          }
        }
      }
    }
  }
}