.about_main_content {
  padding-top: 95px;
  @include rwd-min(768) {padding-top: 90px}
  h1 {
    @include rwd-min(1025) {
      letter-spacing: -0.92px;
    }
  }
}

.about_content {
  @include rwd-min(768) {
    margin-top: 30px;
  }

  &__row {
    border-top: 1px solid $tx;
    padding: 60px 0 30px;
    @include rwd-range(1024, 768) {
      padding: 80px 0 50px;
    }
    @include rwd-min(1025) {
      padding: 75px 0 45px;
    }
  }

  &__stats {
    text-align: center;
    padding-bottom: 10px;
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    @include rwd-max(767) {
      @include justify-content(center)
    }

    .item {
      width: 50%;
      @include rwd-max(1024) {
        margin-bottom: 40px;
      }
      @include rwd-range(1024, 768) {
        width: 33.33%;
      }
      @include rwd-min(1025) {
        width: 20%;
      }

      * {
        max-width: 190px;
        margin: 0 auto;
      }
    }

    .number {
      @extend .flex_center;
      height: 130px;
      width: 130px;
      font-size: 38px;
      border: 3px solid;
      border-radius: 50%;
      margin: 0 auto 20px;
      @include rwd-min(375) {
        height: 154px;
        width: 154px;
      }
      @include rwd-min(768) {
        border-width: 5px;
      }
    }
  }

  &__programs {
    .sub_program_grid_item {
      min-height: 210px;
      @include rwd-range(1024, 768) {
        min-height: 200px;
      }

      .inner {
        max-width: 230px;
        @include rwd-min(768) {
          max-width: 290px !important;
        }
      }

      .icon {
        height: 72px;
        width: 72px;
        font-size: 44px;
        line-height: 74px;
        border-radius: 50%;
        border: 3px solid;
        margin-bottom: 20px;
      }

      h3 {
        @include rwd-min(768) {
          font-size: 21px;
        }
      }
    }
  }

  &__team {
    padding-bottom: 30px;
    @include rwd-range(1024, 768) {
      padding-bottom: 40px;
    }
    @include rwd-min(1025) {
      padding-bottom: 20px;
    }
  }
}

.about_sticky_nav {
  position: fixed;
  left: 0;
  @include rwd-max(1024) {
    border-bottom: 1px solid $tx;
    right: 0;
    top: 80px;
    overflow-x: auto;
    background-color: $bg;
    z-index: 8;
  }
  @include rwd-max(767) {
    top: 100px;
  }
  @include rwd-range(1024, 768){
    top: 120px;
  }
  @include rwd-min(1025) {
    top: 220px;
    max-width: 186px;
  }
  &.is_sticky {
    @include rwd-max(767) {
      top: 80px;
    }
    @include rwd-range(1024, 768){
      top: 100px;
    }
  }
  ol {
    list-style: none;
    @include rwd-max(767) {
      padding: 23px 15px;
    }
    @include rwd-range(1024, 768){
      padding: 23px 39px;
    }
    @include rwd-max(1024) {
      white-space: nowrap;
    }
  }

  li {
    position: relative;
    text-transform: capitalize;
    @include rwd-max(767) {
      margin-right: 40px;
    }
    @include rwd-max(1024) {
      display: inline-block;
    }
    @include rwd-range(1024, 768){
      margin-right: 30px;
    }
    @include rwd-min(1025) {
      margin-bottom: 20px;
    }
    @include rwd-range(1439, 1025){
      font-size: 0;
      a {
        height: 20px;
        &:before {
          width: 21px !important;
        }
      }
    }
    @include hover {
      a {
        color: $cl;
        &:before {
          width: 21px;
        }
      }
    }

    a {
      display: inline-block;
      color: $tx;
      font-weight: 700;
      position: relative;
      @include rwd-min(1025) {
        padding-left: 32px;
        &:before {
          content: '';
          background-color: $tx;
          height: 1px;
          width: 0;
          left: 2px;
          @include transition();
          @include center(false, true);
        }
      }
    }

    &.is_active {
      a {
        color: $cl;
        &:before {
          width: 21px;
          background-color: $cl;
        }
      }
    }
  }
}

.tpl-about {
  .breadcrumbs_shares {
    @include rwd-max(1024) {
      padding-top: 106px;
    } 
  }
}

.team_member {
  text-align: center;
  @include rwd-range(1024, 768) {
    margin-bottom: 40px;
  }
  @include rwd-min(1025) {
    margin-bottom: 60px;
  }

  @include hover {
    figure {
      opacity: .75;
    }
  }

  &.swiper-slide {
    width: auto;
  }

  a {
    display: inline-block;
    @include hover {
      p {
        color: $cl;
      }
    }
  }

  figure {
    //filter: grayscale(1);
    height: 190px;
    width: 190px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 20px;
    @include transition();
  }

  p {
    color: $tx;
    padding-bottom: 5px;
    @include transition();
  }

  em {
    color: $cl;
  }
}
