.careers_content {
  @include rwd-min(1025) {
    padding-bottom: 130px;
  }
}

.careers_thumb {
  margin: 30px 0 60px;
  @include rwd-min(768) {
    margin: 10px 0 60px;
  }
}

.jobs_open {
  .flex_grid__mob {
    --grid-gap: 30px;
  }
  h2 {
    padding-bottom: 30px;
    @include rwd-range(1024, 768){
      padding-bottom: 25px;
    }
    @include rwd-min(1025) {
      padding-bottom: 45px;
    }
  }
  .left_spacing {
    @include rwd-max(767) {
      padding-left: 0;
    }
  }
  .single_position {
    @include rwd-max(767) {
      padding-left: 30px;
      &:before {
        left: 0;
      }
    }
    @include rwd-min(1025) {
      margin-bottom: 50px;
    }
    h4 {
      padding-bottom: 0;
      a {
        color: $tx;
        @include hover {
          color: $cl;
        }
      }
    }
    p {
      color: $cl;
    }
  }
}