.tax_program_author {
  text-align: right;
  margin-bottom: 20px;
  figure {
    filter: grayscale(1);
    margin-left: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  a{
    color: $tx;
    @include hover {
      color: $cl;
    }
  }
  + div {
    @include rwd-min(768) {
      text-align: right;
    }
  }
}

.term_program_content {
  padding-bottom: 60px;
  @include rwd-range(1024, 768) {
    padding-bottom: 80px;
  }
  @include rwd-min(1025) {
    padding-bottom: 120px;
  }

  h1 {
    max-width: 695px;
  }
}

.program_featured {
  border-top: 1px solid $tx;
  padding: 20px 0 30px;
  margin-bottom: 60px;
  position: relative;

  &:after {
    content: '';
    background-color: #282236;
    position: absolute;
    bottom: 0;
    top: 164px;
    left: -9999px;
    right: -9999px;
    z-index: -1;
    @include rwd-range(1024, 768) {
      top: 243px;
    }
    @include rwd-min(1025) {
      top: 225px;
    }
  }

  @include rwd-min(768) {
    padding-top: 30px;
  }
  @include rwd-range(1024, 768) {
    margin-bottom: 34px;
    padding-bottom: 15px;
  }
  @include rwd-min(1025) {
    margin-bottom: 53px;
    padding-bottom: 70px;
  }

  .has_line {
    margin-bottom: 28px;
    @include rwd-range(1024, 768) {
      margin-bottom: 38px;
    }
    @include rwd-min(1025) {
      margin-bottom: 53px;
    }
  }

  &__post {
    @include rwd-range(1024, 768) {
      max-width: 768px;
      margin: 0 auto;
    }

    &.first {
      @include rwd-max(767) {
        margin-bottom: 40px;
      }
      @include rwd-range(1024, 768) {
        margin-bottom: 60px;
      }
      @include rwd-min(1025) {
        width: 48.74%;
      }

      .post__thumb {
        margin-bottom: 20px;
        @include rwd-min(768) {
          margin-bottom: 30px;
        }
      }
      .post_details {
        margin-bottom: 10px;
      }
    }

    &:not(.first) {
      @include rwd-max(1024) {
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-start);
        margin-bottom: 30px;
        p {
          padding-bottom: 15px;
        }
      }
      @include rwd-range(1024, 768) {
        > * {
          width: 49%;
        }
      }
      @include rwd-min(1025) {
        width: 23.07%;
        max-width: 256px;
      }

      .post__thumb {
        margin: 0 15px 0 0;
        @include rwd-max(767) {
          width: 90px;
          + div {
            @include flex(1);
          }
          img {
            height: 90px;
            object-fit: cover;
          }
        }
        @include rwd-range(1024, 768) {
          margin: 0 30px 0 0;
        }
        @include rwd-min(1025) {
          margin: 0 0 40px 0;
        }
      }
    }
    .post__thumb {
      display: block;
      @include hover {
        opacity: 0.75;
      }
    }
    a {
      color: $tx;
      @include hover {
        color: $cl;
      }
    }

    h2 {
      padding-bottom: 15px;
    }

    h4 {
      padding-bottom: 10px;
      @include rwd-max(767) {
        padding-bottom: 4px;
      }
    }

    .post_details {
      font-family: $ff2;
      font-style: italic;
      color: $cl;
      font-size: 0;

      > * {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-size: 16px;
        @include rwd-max(360) {
          font-size: 13px;
          line-height: 1.2;
        }

        &:not(:last-child):after {
          content: '/';
          font-size: 22px;
          line-height: 1;
          display: inline-block;
          vertical-align: sub;
          font-style: normal;
          margin: 0 5px;
        }
      }
    }

    .post__author {
      font-family: $ff2;
      font-style: italic;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      .flex {
        @include inline-flex();
      }

      figure {
        filter: grayscale(1);
        margin-right: 15px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}

.program_latest {
  border-top: 1px solid $tx;
  padding-top: 20px;
  @include rwd-min(768) {
    padding-top: 30px;
  }
}

.post_item {
  margin-bottom: 30px;
  position: relative;
  @include rwd-min(768) {
    border-bottom: 1px solid #362e4b;
    padding-bottom: 30px;
  }
  @include rwd-min(1025) {
    padding-right: 40px;
  }

  .post__tax {
    display: none;
    @include rwd-max(767) {
      margin-right: 20px;
    }
    @include rwd-min(1025) {
      width: 110px;
      font-size: 15px;
      margin-right: 20px;
      margin-bottom: auto;
    }
  }

  .thumb {
    width: 90px;
    margin-right: 15px;
    @include hover {
      opacity: 0.75;
    }

    img {
      @include rwd-max(767) {
        min-height: 102px;
        object-fit: cover; 
      }
    }

    @include rwd-min(768) {
      width: 255px;
      margin-right: 25px;
    }
    @include rwd-min(1025) {
      margin-right: 40px;
    }
  }

  .post__info {
    @include flex(1);
    @include rwd-min(768) {
      padding: 5px 0;
    }

    > .flex {
      padding-bottom: 7px;
      @include rwd-max(767) {
        @include justify-content(flex-start);
        @include flex-wrap(wrap);
        font-size: 13px;
      }
      @include rwd-min(768) {
        @include flex-direction(row-reverse);
        padding-bottom: 10px;
      }
      @include rwd-min(1025) {
        @include justify-content(flex-end);
      }
    }
  }

  h3 {
    padding-bottom: 4px;
    @include rwd-max(767) {
      font-size: 18px;
    }

    a {
      color: $tx;
      @include hover {
        color: $cl;
      }
    }
  }

  .rm {
    font-size: 20px;
    @include center(false, true);
    right: 0;

    a {
      color: $tx;
      @include hover {
        color: $cl;
      }
    }
  }

  .post_details {
    font-family: $ff2;
    font-style: italic;
    color: $cl;
    font-size: 0;
    margin-top: auto;

    > * {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      font-size: 16px;
      @include rwd-max(360) {
        font-size: 13px;
        line-height: 1.2;
      }

      &:not(:last-child):after {
        content: '/';
        font-size: 22px;
        line-height: 1;
        display: inline-block;
        vertical-align: sub;
        font-style: normal;
        margin: 0 5px;
      }
    }

    .post__author {
      display: inline-block;
      vertical-align: middle;

      &:not(:last-child):after {
        content: ', ';
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }

      a {
        @include hover {
          color: $cl2;
        }
      }
    }
  }
}

.in_the_media__content {
  position: relative;
  .content {
    @include rwd-min(1025) {
      max-width: 700px;
    }
  }
  .button {
    @include rwd-min(1025) {
      position: absolute;
      right: 0;
      top: 28px;
      margin: 0;
    }
  }
}

.analysis__content {
  padding-bottom: 20px;
  border-bottom: 1px solid $tx;
  margin-bottom: 20px;
  @include rwd-min(768) {
    margin-bottom: 30px;
  }
  @include rwd-range(1024, 768){
    padding-bottom: 50px;
  }
  @include rwd-min(1025) {
    padding-bottom: 120px;
  }
}

.analysis__latest, .program_latest {
  .has_line {
    @include rwd-range(1024, 768){
      margin-bottom: 40px;
    }
    @include rwd-min(1025) {
      margin-bottom: 60px;
    }
  }
}