.program_o__content {
  padding-bottom: 30px;
  @include rwd-range(1024, 768) {
    padding-bottom: 50px;
  }
  @include rwd-min(1025) {
    padding-bottom: 120px;
  }

  .has_line {
    margin-bottom: 25px;
    @include rwd-min(1025) {
      margin-bottom: 45px;
    }
  }
}

.program_o__team {
  padding-bottom: 65px;
  @include rwd-range(1024, 768) {
    padding: 30px 0 40px;
    border-top: 1px solid $tx;
  }
  @include rwd-min(1025) {
    padding-bottom: 90px;
  }

  .has_line {
    @include rwd-range(1024, 768) {
      margin-bottom: 40px;
    }
    @include rwd-min(1025) {
      margin-bottom: 60px;
    }
  }

  .swiper-container {
    margin-right: -15px;
  }

  .sw_pagination {
    margin-top: 10px;
  }

}

.other_programs {
  padding-bottom: 60px;
  @include rwd-range(1024, 768) {
    padding-bottom: 80px;
  }
  @include rwd-min(1025) {
    padding-bottom: 150px;
  }
}

.program_grid_item {
  @extend .flex_center;
  color: $tx;
  text-align: center;
  min-height: 207px;
  position: relative;
  padding: 15px;
  @include rwd-max(1024) {
    margin-bottom: 30px;
  }
  @include rwd-range(1024, 768) {
    min-height: 409px;
  }
  @include rwd-min(1025) {
    min-height: 320px;
  }
  @include hover {
    color: $cl;
  }

  &:nth-child(odd) .overlay {
    background-color: #1c3557;
  }

  &:nth-child(even) .overlay {
    background-color: $cl;
  }

  > img {
    filter: grayscale(1);
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    mix-blend-mode: multiply;
  }

  .icon {
    display: inline-block;
    height: 72px;
    width: 72px;
    font-size: 44px;
    line-height: 74px;
    border-radius: 50%;
    border: 3px solid;
    margin-bottom: 20px;
    @include rwd-min(768) {
      height: 145px;
      width: 145px;
      font-size: 86px;
      line-height: 147px;
      border-width: 6px;
    }
  }

  .inner {
    position: relative;
    z-index: 1;
    max-width: 295px;
    @include rwd-min(768) {
      max-width: 360px;
    }
  }

  h3 {
    @include rwd-max(767) {
      font-size: 18px;
    }
  }
}


.sub_program_row {
  border-top: 1px solid $tx;
  padding: 60px 0 30px;
  @include rwd-range(1024, 768) {
    padding: 80px 0 50px 35px;
  }
  @include rwd-min(1025) {
    padding: 75px 35px 45px;
  }
}

.sub_program_more {
  padding-bottom: 65px;
  @include rwd-range(1024, 768) {
    padding-bottom: 50px;
  }
  @include rwd-min(1025) {
    padding-bottom: 140px;
  }

  .flex_grid__rwd {
    --grid-gap: 30px;
  }

  ._col_6 {
    > h4 {
      padding-bottom: 8px;
      margin-bottom: 30px;
      border-bottom: 1px solid $tx;
      @include rwd-range(1024, 768) {
        padding-bottom: 13px;
        margin-bottom: 60px;
      }
      @include rwd-min(1025) {
        padding-bottom: 10px;
        margin-bottom: 75px;
      }
    }
  }
}

.sub_program_publications {
  @include rwd-max(767) {
    margin-bottom: 50px;
  }
  @include rwd-range(1024, 768) {
    margin-bottom: 80px;
  }

  .item {
    + .item {
      margin-top: 30px;
    }

    > * {
      @include rwd-range(1024, 768) {
        width: 48.2%;
      }
      @include rwd-min(1025) {
        width: 46.8%;
      }
    }

    h4 {
      padding-bottom: 20px;
      @include rwd-range(1024, 768) {
        padding-bottom: 10px;
      }
      @include rwd-min(1025) {
        padding-bottom: 5px;
      }
    }
  }

  figure {
    @include rwd-max(767) {
      margin-bottom: 20px;
    }
  }

  .i_download {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $cl;
    text-align: center;
    font-size: 18px;
    line-height: 42px;
    color: $tx;
    @include hover {
      background-color: $cl2;
    }
  }
}

.sub_program_videos {
  .i_play-cgp {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $cl;
    color: $tx;
    text-align: center;
    line-height: 67px;
    font-size: 26px;
    margin-right: 30px;
    position: relative;

    &:before {
      @include center(false, true);
      right: 18px;
    }
  }

  .video_item {
    color: $tx;
    margin-bottom: 20px;
    @include rwd-min(768) {
      margin-bottom: 30px;
    }

    h4 {
      @include flex(1);
      padding-bottom: 0;
    }

    @include hover {
      color: $cl;
    }
  }
}

.other_subdisciplines {
  padding-bottom: 60px;
  @include rwd-range(1024, 768) {
    padding-bottom: 80px;
  }
  @include rwd-min(1025) {
    padding-bottom: 150px;
  }
}

.sub_program_grid_item {
  position: relative;
  min-height: 207px;
  margin-bottom: 30px;
  @include rwd-range(1024, 768) {
    min-height: 409px;
  }

  &._col_6 {
    @include rwd-min(1025) {
      min-height: 320px;
    }

    .inner {
      @include rwd-min(1025) {
        max-width: 250px;
      }
    }
  }

  .hidden {
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 20px;
    left: 20px;
    z-index: 3;
    text-align: center;
    padding: 40px 25px;
    color: $bg;
    @include transition();
    @include rwd-min(1025) {
      opacity: 0;
      visibility: hidden;
    }

    h3 {
      padding-bottom: 8px;
    }

    p {
      padding-bottom: 20px;
    }

    mark {
      color: #ffffff;
    }

    .button {
      margin-right: 0;
    }
  }

  @include hover {
    .hidden {
      opacity: 1;
      visibility: visible;
    }
  }

  &._col_4 {
    @include rwd-min(1025) {
      min-height: 210px;
    }

    .inner {
      @include rwd-min(1025) {
        max-width: 190px;
      }
    }

    .icon {
      @include rwd-min(1025) {
        height: 72px;
        width: 72px;
        font-size: 44px;
        line-height: 74px;
        border-radius: 50%;
        border: 3px solid;
        margin-bottom: 20px;
      }
    }

    h3 {
      @include rwd-min(1025) {
        font-size: 21px;
      }
    }
  }
}
