// events
.events {
  padding-bottom: 30px;
  @include rwd-range(1024, 768) {padding-bottom: 50px}
  @include rwd-min(1025) {padding-bottom: 120px}
  &__content {
    padding-bottom: 20px;
    @include rwd-range(1024, 768) {padding-bottom: 50px}
    @include rwd-min(1025) {padding-bottom: 75px}
  }
  &__filters {
    margin-bottom: 60px;
    position: relative;
    @include rwd-min(768) {
      @include flexbox;
    }
    @include rwd-min(1025) {
      margin-bottom: 100px;
    }
    .show_box {
      top: 100%;
      margin-top: 15px;
      @include transform(translate(-50%, 0));
    }
  }
  &__filter {
    line-height: 60px;
    text-transform: uppercase;
    background-color: #1c3557;
    -moz-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    @include rwd-min(768) {
      @include flex(1);
      line-height: 80px;
      text-align: center;
    }
    @include rwd-max(767) {
      padding-left: 20px;
      &:first-child {margin-bottom: 1px}
    }
    &:after {
      @extend %ani;
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 1px solid #467b9d;
      opacity: 0;
      @include rwd-min(768) {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }
    }
    @include hover {
      &:after {opacity: 1}
    }
    &.is_filtered {
      &:after {opacity: 1}
    }
  }
  &__container {
    @include rwd-min(1025) {
      @include flexbox;
      @include flex-wrap(wrap);
      margin-right: -30px;
    }
  }
}

.event_item {
  @include flexbox;
  @include align-items(center);
  margin-bottom: 30px;
  @include rwd-max(1024) {
    &:nth-child(odd) {
      .event_item__thumb a:after {background-color: $cl}
    }
    &:nth-child(even) {
      .event_item__thumb a:after {background-color: #467b9d}
    }
  }
  @include rwd-min(1025) {
    width: calc(50% - 30px);
    margin-right: 30px;
    &:nth-child(4n+1),
    &:nth-child(4n+4) {
      .event_item__thumb a:after {background-color: $cl}
    }
    &:nth-child(4n+2),
    &:nth-child(4n+3) {
      .event_item__thumb a:after {background-color: #467b9d}
    }
  }
  &__thumb {
    @include rwd-min(768) {
      @include flex(1);
      max-width: 330px;
      margin-right: 30px;
    }
    @include rwd-max(767) {
      width: 92px;
      margin-right: 15px;
    }
    a {
      display: block;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        mix-blend-mode: multiply;
      }
      @include hover {
        .i_event {
          color: $cl;
          border-color: $cl;
        }
      }
    }
    .i_event {
      @extend %ani;
      @include center();
      width: 36px;
      height: 36px;
      line-height: 36px;
      font-size: 18px;
      color: $tx;
      text-align: center;
      border-radius: 50%;
      border: 2px solid $tx;
      z-index: 1;
      @include rwd-min(768) {border-width: 3px}
      @include rwd-range(1024, 768) {
        width: 100px;
        height: 100px;
        line-height: 100px;
        font-size: 50px;
      }
      @include rwd-min(1025) {
        width: 116px;
        height: 116px;
        line-height: 116px;
        font-size: 58px;
      }
    }
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
  &__desc {
    @include flex(1);
  }
  &__date {
    display: inline-block;
    color: $cl;
    padding-bottom: 10px;
  }
  h4 {
    padding-bottom: 0;
    @include rwd-min(768) {padding-bottom: 9px}
    a {
      color: $tx;
      @include hover {color: $cl}
    }
  }
  &__meta {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    color: $cl;
    > *:not(:last-child) {
      position: relative;
      &:after {
        content: '|';
        margin: 0 8px;
      }
    }
  }
}