// single + single-event

.single_post {
  &__top {
    width: 730px;
    padding: 30px 0 20px;
    @include rwd-min(768) {padding-top: 60px}
    @include rwd-min(1025) {padding-bottom: 30px}
    @include rwd-max(767) {text-align: center}
    h1, h2 {padding-bottom: 20px}
    h2 {
      @include rwd-max(767) {font-size: 24px}
    }
    .single_post__cats {
      a:first-of-type:before {content: '/';}
    }
  }

  &__special_top {
    @extend .flex__rwd;
    @include align-items(stretch);
    @include rwd-range(1024, 768) {
      margin-top: -12px;
    }
    @include rwd-min(1025) {
      min-height: 920px;
      margin-top: -14px;
      margin-bottom: 190px;
    }
    .single_post__thumb {
      @include rwd-range(1439, 1025) {
        width: calc(50% + 39px);
        margin-right: -39px;
      }
      @include rwd-min(1440) {
        width: calc(50% + 65px);
        margin-right: -65px;
      }
    }
    &_left {
      background-color: $tx;
      color: #fff;
      position: relative;
      text-align: center;
      padding: 30px 0;
      @include rwd-min(768) {
        text-align: left;
      }
      @include rwd-max(1024) {
        margin-bottom: 30px;
      }
      @include rwd-min(1025) {
        width: 50%;
        padding: 95px 130px 65px 0;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-start);
      }
      &:after {
        content: '';
        background-color: $tx;
        top: 0;
        bottom: 0;
        left: -9999px;
        right: -9999px;
        position: absolute;
        z-index: -1;
        @include rwd-min(1025) {
          right: 0;
        }
      }
    }
    h1 {
      padding-bottom: 28px;
    }
    h2 {
      padding-bottom: 20px;
      @include rwd-min(1025) {
        padding-bottom: 50px;
      }
    }
    .cat_tax_wrap {
      .single_post__cats a:first-of-type:before {
        content: '/';
      }
      a {
        color: #fff;
        @include hover {color: $cl;}
      }
    }
    .single_post__author_date {
      @include rwd-min(1025) {
        margin-top: auto;
      }
      .single_post__author {
        @include rwd-min(768) {
          @include align-items(flex-start);
        }
        figure {
          @include rwd-min(768) {
            margin-right: 15px;
          }
        }
        strong a {
          color: #fff;
          @include hover {
            color: $cl;
          }
        }
      }
    }
    .single_post__thumb {
      position: relative;
      @include rwd-min(1025) {
        margin-bottom: 0;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      figcaption {
        @include rwd-min(1025) {
          position: absolute;
          left: 0;
          right: 0;
          top: 100%;
          text-align: left;
        }
      }
    }
  }

  &__meta {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    @include rwd-max(767) {@include justify-content(center)}
    > *:not(:last-child) {
      position: relative;
      &:after {
        content: "|";
        margin: 0 8px;
      }
    }
    .min_to_read {text-transform: uppercase}
  }

  &__author_date {
    padding-top: 20px;
    border-top: 1px solid $bg2;
    time {
      @include rwd-min(768) {
        width: 131px;
        text-align: right;
        span {
          display: block;
          text-align: right;
        }
      }
    }
  }

  &__authors {
    @include rwd-min(768) {
      width: 540px;
    }
    @include rwd-max(767) {margin-bottom: 10px}
  }

  &__author {
    @include rwd-min(768) {
      @include flexbox;
      @include align-items(center);
    }
    &:not(:first-child) {margin-top: 15px}
    figure {
      width: 65px;
      @include rwd-min(768) {margin-right: 30px}
      @include rwd-max(767) {margin: 0 auto 10px}
      img {border-radius: 50%}
      a {
        display: block;
        @include hover {opacity: 0.75}
      }
    }
    small {
      @include rwd-min(768) {@include flex(1)}
    }
    strong {
      display: block;
      @include rwd-max(767) {margin-bottom: 3px}
      a {
        color: $tx;
        @include hover {color: $cl}
      }
    }
  }

  &__body_wrap {
    @include rwd-min(1025) {max-width: calc(100% - 140px)}
  }

  &__shrs {
    @include rwd-min(1025) {
      position: absolute;
      top: 0;
      margin-left: -55px;
      &.is_sticky {
        position: fixed;
        top: 145px;
      }
      &.reached_bottom {
        position: absolute;
        top: auto;
        bottom: 15px;
      }
    }
    @include rwd-max(1024) {
      @include flexbox;
      @include align-items(center);
      margin-bottom: 30px;
    }
    @include rwd-max(767) {@include justify-content(center)}
    a {
      display: block;
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 45px;
      color: $cl2;
      text-align: center;
      border-radius: 50%;
      background-color: $tx;
      &:not(:last-child) {
        @include rwd-max(1024) {margin-right: 15px}
        @include rwd-max(350) {margin-right: 10px}
        @include rwd-min(1025) {margin-bottom: 15px}
      }
      @include hover {
        color: $tx;
        background-color: $cl2;
      }
    }
    small {
      text-transform: uppercase;
      @include rwd-max(1024) {margin-right: 15px}
      @include rwd-max(350) {margin-right: 10px}
      @include rwd-min(1025) {
        display: none;
        width: 40px;
        text-align: center;
        padding-bottom: 3px;
      }
    }
  }
  &__shrs_inner {
    @include rwd-max(1024) {@include flexbox}
  }

  &__thumb {
    margin-bottom: 30px;
    @include rwd-min(1025) {margin-bottom: 35px}
    figcaption {
      font-family: $ff;
      text-align: center;
    }
  }

  &__content {
    max-width: 650px;
    margin: 0 auto;
    figcaption {
      text-align: center;
    }
  }

  &__tags {
    font-size: 13px;
    padding-top: 10px;
    @include rwd-min(768) {padding-top: 23px}
    a {
      color: $tx;
      @include hover {color: $cl}
    }
  }

  &__latest_related {
    padding-top: 50px;
    background: #fff;
    position: relative;
    z-index: 1;
    @include rwd-min(1025) {padding-top: 60px}
    .single-photo_essay & {
      padding-top: 0;
      padding-bottom: 80px;
      //margin-top: -10px;
      //@include rwd-range(1024, 768) {margin-top: -40px}
      @include rwd-min(1025) {
        padding-bottom: 100px;
        //margin-top: -90px;
      }
    }
    .container {
      width: 730px;
      > * {
        @include rwd-min(768) {
          @include flex(1);
          &:nth-child(2) {margin-left: 30px}
        }
      }
    }
  }

  &__lr_wrap {
    > div {
      padding-bottom: 20px;
      border-bottom: 1px solid $bg2;
      &:not(:last-child) {margin-bottom: 20px}
    }
    h4 {
      padding-bottom: 0;
      a {
        color: $tx;
        @include hover {color: $cl}
      }
    }
    time {
      display: block;
      color: $cl;
      font-size: 16px;
    }
  }

  &__latest {
    @include rwd-max(767) {margin-bottom: 40px}
  }

  &__related_item {
    min-height: 76px;
    padding-left: 64px;
    position: relative;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        &:before {background-image: url("../images/popular-#{$i}.svg")}
      }
    }
    &:before {
      content: "";
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 58px;
      z-index: 1;
    }
  }

  .block__poetry {
    @extend .last_no_spacing;
    font-family: $ff2;
    margin-bottom: 50px !important;
    position: relative;
    &.right {
      margin-left: auto;
    }
    &.center {
      margin: 0 auto;
    }
    &.w_75 {
      max-width: 444px;
    }
    &.large_lh {
      h3, p {
        line-height: 1.96;
      }
    }
    &.has_quotes {
      &:before, &:after {
        @include rwd-min(768) {
          content: "“";
        }
        position: absolute;
        font-size: 115px;
        font-style: normal;
        line-height: 1;
        height: 56px;
        color: $cl;
      }
      &:before {
        left: -50px;
        top: 0;
        @include rwd-min(1025) {
          left: -100px;
        }
      }
      &:after {
        right: -50px;
        bottom: -11px;
        @include transform(rotate(180deg));
        @include rwd-min(1025) {
          right: -100px;
        }
      }
      &.quote_blue {
        &:before, &:after {
          color: $cl2;
        }
      }
      &.quote_black {
        &:before, &:after {
          color: #000;
        }
      }
    }
    h3 {
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 1px;
      padding-bottom: 10px;
    }
    p {
      line-height: 1.43;
      letter-spacing: 0.7px;
    }
    h5 {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
      font-family: $ff;
      font-style: normal;
      color: $cl;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
  }
}

.articles_row {
  @include rwd-min(1025) {
    @include flexbox;
    margin: 0 -15px;
  }
  &__item {
    margin-bottom: 30px;
    @include rwd-min(1025) {
      width: calc(25% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
    @include rwd-max(1024) {
      @include flexbox;
      @include align-items(center);
    }
    figure {
      @include rwd-min(1025) {margin-bottom: 20px}
      @include rwd-range(1024, 768) {margin-right: 25px}
      @include rwd-max(767) {margin-right: 15px}
      @include rwd-range(767, 481) {width: 36.95%}
      img {
        @include rwd-max(480) {
          width: 90px;
          height: 90px;
          object-fit: cover;
        }
      }
      a {
        @include hover {opacity: 0.75}
      }
    }
    > div {
      @include rwd-max(1024) {@include flex(1)}
    }
    h4 {
      padding-bottom: 5px;
      @include rwd-min(1025) {padding-bottom: 10px}
      a {
        color: $tx;
        @include hover {color: $cl}
      }
    }
    p {padding-bottom: 12px}
  }
  &__meta {
    @include flexbox;
    @include align-items(center);
    @include flex-wrap(wrap);
    font-family: $ff2;
    font-style: italic;
    color: $cl;
    > *:not(:last-child) {
      position: relative;
      &:after {
        content: "|";
        margin: 0 7px;
      }
    }
  }
}

.cat_tax_wrap {
  @include flexbox;
  @include align-items(center);
  div + div {margin-left: 4px}
  a {
    color: $cl;
    @include hover {color: $cl2}
  }
  .cat_term {font-weight: 700}
}

.block__soundcloud {
  background-color: #ece9e3;
  padding: 12px 24px;
  margin-bottom: 30px;
  h5 {
    font-family: $ff2;
    font-size: 18px;
    padding-bottom: 0;
  }
}


/*Block - Quote with background*/
.block__quote_with_bg {
  background-color: rgba(207, 207, 207, 0.3);
  margin-bottom: 30px;
  position: relative;
  padding: 30px 15px 30px 75px;
  @include rwd-min(768) {
    margin: 0 -45px 45px;
    padding: 45px 55px 50px 225px;
  }
  &.quote_deep_pink {color: $cl;}
  &.quote_blue {color: $cl2;}
  &.quote_clack {color: $tx;}
  &:before {
    content: '“';
    font-family: $ff2;
    font-weight: 700;
    position: absolute;
    font-size: 120px;
    line-height: 0.8;
    opacity: .09;
    left: 10px;
    top: 30px;
    @include rwd-min(768) {
      font-size: 360px;
      left: 32px;
      top: 52px;
    }
  }
  .content {
    @include flex(1);
    font-size: 28px;
    line-height: 1.22;
    font-family: $ff2;
    font-weight: 300;
    @include rwd-min(768) {
      font-size: 41px;
    }
  }
}