.single_people {
  padding-top: 30px;
  @include rwd-min(768) {
    padding-top: 60px;
  }
  .container {
    width: 730px;
  }
  .content {
    padding-bottom: 30px;
    @include rwd-min(1025) {
      padding-bottom: 60px;
    }
  }
  &__thumbnail {
    height: 160px;
    width: 160px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 30px;
    @include rwd-min(768) {
      margin-bottom: 20px;
    }
  }
  &__titles {
    text-align: center;
    h1{
      font-size: 38px;
      &:only-child {
        margin-bottom: 30px;
        &:before {
          display: none;
        }
      }
    }
    h3 {
      color: $cl;
      padding-bottom: 17px;
      @include rwd-min(768) {
        padding-bottom: 6px;
      }
    }
  }
  .so_me {
    @include justify-content(center);
    text-align: center;
    margin-bottom: 20px;
    border-bottom: none;
    padding-bottom: 0;
    a {
      height: 30px;
      width: 30px;
      line-height: 35px;
      font-size: 16px;
      background-color: #2d2d2b;
      border-radius: 50%;
      overflow: hidden;
      color: $cl2;
      margin: 0 5px;
      @include hover {
        color: $bg;
      }
    }
  }
  &__content {
    @extend .last_no_spacing;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.41;
  }
  &__latest {
    width: 730px;
    padding-bottom: 60px;
    @include rwd-range(1024, 768){
      padding-bottom: 50px;
    }
    @include rwd-min(1025) {
      padding-bottom: 120px;
    }
    .article_item {
      @include rwd-range(1024, 768){
        width: 100%;
      }
      @include rwd-min(768) {
        @include flex-direction(row-reverse);
      }
      &__thumb {
        @include rwd-min(768) {
          width: 255px;
          margin: 0 0 0 30px;
        }
      }
      &__info {
        @include flex(1);
      }
    }
  }
}