// contact + sign up pages

.form_wrapper {
  label {
    display: block;
    margin-bottom: 10px;
  }
  .newsletter_button {
    margin-bottom: 30px;
  }
  .button {
    margin-top: 30px;
  }

}

#wpcf7-f18690-o1 {
  .checkbox-331,
  .wpcf7-checkbox,
  .checkbox-666 {
    margin-bottom: 0;
  }
}

.newsletter_checkboxes {
  .wpcf7-form-control-wrap {
    @include rwd-min(768) { margin-bottom: 50px !important; }
  }
  .wpcf7-checkbox {
    @extend .flex_start__mob;
    @include flex-wrap(wrap);
    .wpcf7-list-item {
      margin-bottom: 30px;
      @include rwd-min(768) { width: 45%; }
      &-label {
        font-weight: 700;
      }
    }
    label {margin-bottom: 0;}
    input[type="checkbox"] {
      cursor: pointer;
      + span {
        cursor: pointer;
        &:before {
          background-color: #fff;
        }
        &:after {
          line-height: 1;
          top: 7px;
        }
      }
    }
    small {padding-left: 40px;}
  }
  .nwsltr_toggle_all {
    color: $tx;
    position: relative;
    display: inline-block;
    font-weight: 700;
    &.is_selected:after {opacity: 1;}
    @include hover {
      &:before {
        border-color: $cl;
      }
    }
    &:before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      background: #fff;
      margin-right: 15px;
      position: relative;
      top: 7px;
      border-radius: 3px;
      border: 1px solid #bfcebf;
    }
    &:after {
      @extend %ani;
      content: '\e907';
      font-family: $icons;
      font-size: 25px;
      color: #1c3557;
      position: absolute;
      left: 0;
      opacity: 0;
      z-index: 2;
      line-height: 1;
      top: 7px;
    }
  }
}