// search
.search_page {
  padding: 30px 0;
  @include rwd-range(1024, 768) {padding: 60px 0}
  @include rwd-min(1025) {padding: 60px 0 120px}
}

.search_top {
  @include rwd-min(768) {
    padding-bottom: 78px;
  }
  padding-bottom: 40px;
  h1:only-child {
    margin-bottom: 30px;
  }
  h3 {
    padding-bottom: 0;
    strong {
      font-weight: 400;
      color: $cl;
    }
  }
}

.search_results {
  aside {
    @include rwd-min(1025) {
      width: 222px;
      margin-right: 11.1%;
    }
    @include rwd-max(1024) {margin-bottom: 50px}
    h4 {
      margin-bottom: 25px;
      padding-bottom: 12px;
      border-bottom: 1px solid $tx;
    }
    > p.mob_show {
      color: $cl;
      padding-bottom: 15px;
    }
  }
  article {
    @include rwd-min(1025) {
      @include flex(1);
      padding-top: 30px;
    }
  }
}

.search__filters_toggle {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  margin-right: 0;
  position: relative;
  &.is_show {
    background: $tx;
    span {
      &:first-child {display: none}
      &:last-child {display: inline-block}
    }
    small {
      &:after {@include transform(translate(-50%,-50%) rotate(180deg))}
      &:before {@include transform(translate(-50%,-50%) rotate(90deg))}
    }
  }
  span {
    &:first-child {display: inline-block}
    &:last-child {display: none}
  }
  small {
    width: 49px;
    height: 53px;
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 1;
    &:after, &:before {
      @extend %ani;
      @include transform(translate(-50%,-50%));
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background: #fff;
    }
    &:after {
      width: 16px;
      height: 2px;
    }
    &:before {
      width: 2px;
      height: 16px;
    }
  }
}

.search_filters__mob_wrap {
  @include rwd-max(767) {
    display: none;
    padding-top: 35px;
  }
}

.search__filter_group {
  position: relative;
  @include rwd-range(1024, 768) {@include columns(2)}
  .show_box {
    top: 0;
    right: 0;
    left: auto;
    margin-top: 0;
    @include transform(translate(0));
  }
}

.search__filter_row {
  margin-bottom: 15px;
  white-space: nowrap;
  &.to_hide {
    opacity: 0.3;
    pointer-events: none;
  }
  input[type="checkbox"] {
    display: none;
    &:checked + label {
      &:after {opacity: 1}
      //&:before {background-color: transparent}
    }
    & + label {
      @extend %ani;
      display: inline-block;
      line-height: 25px;
      padding-left: 40px;
      position: relative;
      cursor: pointer;
      @include hover {
        &:before {
          border-color: $cl;
        }
      }
      &:before {
        @extend %ani;
        content: '';
        @include center(false, true);
        left: 0;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        background-color: #f1f1f1;
        border: 1px solid #bfcebf;
        z-index: 0;
      }
      &:after {
        //@extend %ani;
        content: '\e907';
        font-family: $icons;
        @include center(false, true);
        left: 0;
        font-size: 25px;
        color: #1c3557;
        opacity: 0;
        z-index: 1;
      }
      @include hover {color: $cl}
    }
  }
}

.search_post {
  @extend .last_no_spacing;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $tx;
  h3 {
    padding-bottom: 10px;
    a {
      color: $tx;
      @include hover {color: $cl}
    }
  }
  p {padding-bottom: 20px}
}
