.single-photo_essay {
  #main {
    padding-top: 0;
  }
  header {
    background-color: transparent;
    &:not(.is_sticky) {
      position: absolute;
    }
    &.is_sticky {
      z-index: -9;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      .dark {display: block;}
      .light {display: none;}
      .header__bottom {
        display: block;
        border-bottom: 1px solid $bg2;
        .flex {@include flexbox()}
      }
      .header__top {
        border-bottom: 1px solid $bg2;
      }
      .nav_icon i {
        background-color: $tx;
      }
      .search_toggle {color: $tx;}
      &.shown {
        z-index: 9;
        opacity: 1;
        visibility: visible;
      }
    }
    .dark {display: none;}
  }
  .header__top {
    @include rwd-min(1025) {
      border-bottom: none;
    }
  }
  .header__bottom {
    @include rwd-min(1025) {display: none;}
    strong {
      font-family: $ff2;
      font-size: 18px;
      font-weight: 600;
    }
    .container {
      border-bottom: none;
      padding: 11px 0 10px;
    }
    .flex {
      display: none;
      @include rwd-max(1024) {
        justify-content: center;
      }
    }
    .header__menu {
      @include rwd-min(1025) {display: none;}
    }
    //@include rwd-min(1025) {
    //  display: none;
    //}
  }
  .search_toggle {
    color: #fff;
  }
  .nav_icon i {
    background-color: #fff;
  }
  footer {
    position: relative;
    z-index: 3;
  }
}

.single_photo_essay {
  &__parallax {
    position: relative;
    z-index: -1;
    &_wrapper {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      &.hidden {
        opacity: 0;
      }
    }
    &_image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      @include transition(all, 0.7s, linear);
      &.is_active {
        opacity: 1;
        visibility: visible;
      }
      img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
      }
    }
    &_text {
      min-height: 100vh;
      @include flexbox();
      @include align-items(flex-end);
      padding-bottom: 7.85vh;
      @include rwd-min(768) {
        padding-bottom: 10.6vh;
      }
      .content {
        @extend .last_no_spacing;
        color: #fff;
        position: relative;
        &.is_darken {color: $tx}
        h2 {
          @extend .h1;
        }
        h3 {
          @extend .h2;
        }
      }
    }
  }
  &__main_content {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 60px 0;
    @include rwd-range(1024, 768) {
      padding: 100px 0;
    }
    @include rwd-min(1025) {
      padding: 80px 0;
    }
    .container {
      width: 730px;
      &:first-child {
        @include rwd-max(767) {text-align: center}
        > h2 {
          @include rwd-max(767) {font-size: 24px}
        }
      }
    }
    .single_post__cats {
      a:first-of-type:before {content: '/';}
    }
    .content {
      @extend .last_no_spacing;
      * + .block__full_image, .block__middle_image {
        margin-top: 36px;
        @include rwd-min(768) {
          margin-top: 126px;
        }
        img {
          margin: 0 auto;
        }
      }
    }
    h1 {
      padding-bottom: 5px;
    }
    h2 {
      padding-bottom: 20px;
    }
    .single_post__author_date {
      padding: 0 0 15px;
      margin-bottom: 30px;
      border-top: none;
      border-bottom: 1px solid $bg2;
    }
    figcaption {text-align: center;}
  }
  &__additional {
    position: relative;
    background-color: #fff;
    z-index: 3;
    &_img {
      margin-bottom: 30px;
    }
    &_section {
      padding-bottom: 60px;
      @include rwd-min(768) {
        padding-bottom: 150px;
      }
      &:last-of-type {
        padding-bottom: 100px;
        @include rwd-min(1025) {
          padding-bottom: 80px;
        }
      }
      .content {
        @extend .last_no_spacing;
        h2, h3 {
          padding-bottom: 5px;
        }
        h5 {
          font-family: $ff2;
          font-size: 16px;
          font-weight: 200;
        }
      }
    }
    &_img {
      img {
        margin: 0 auto;
      }
    }
    &_text {
      width: 730px;
    }
  }
  &__authors {
    background-color: #fff;
    position: relative;
    z-index: 3;
    padding-bottom: 100px;
    .container {
      width: 730px;
    }
    .single_post__author {
      padding: 20px 0;
      border-top: 1px solid $bg2;
      border-bottom: 1px solid $bg2;
      figure {
        width: 95px;
        height: 95px;
        margin-right: 20px;
      }
      + .single_post__author {
        border-top: none;
      }
    }
  }

  &__shrs {
    @include rwd-max(1024) {@include justify-content(center)}
    a {
      font-size: 21px;
      line-height: 16px;
      display: block;
      color: $cl;
      @include rwd-min(1025) {
        font-size: 24px;
      }
      &:not(:last-child) {
        margin-right: 35px;
        @include rwd-max(350) {margin-right: 10px}
      }
      @include hover {
        color: $cl2;
      }
    }
    small {
      text-transform: uppercase;
      margin-right: 15px;
      @include rwd-max(350) {margin-right: 10px}
    }
  }
  &__shrs_inner {
    @include flexbox();
    @include align-items(center);
  }
}