.logo_print {display: none;}

.i_print {
  @extend .rwd_hide;
}

@media print{
  body {
    background-color: #fff;
    color: $tx;
  }
  #main {padding-top: 0;}
  header, footer, .single_post__shrs, .single_post__latest_related, .sign_up_box, .single_photo_essay__parallax, .wp-block-image, .single_photo_essay__additional, .single_photo_essay__authors {display: none;}
  .logo_print {
    display: block;
    margin-bottom: 20px;
    img {margin: 0 auto; max-width: 250px;}
  }
  .single_post__author_date {
    @include flexbox();
    @include align-items(stretch);
    time {
      width: 131px;
      text-align: right;
    }
  }
  .single_post__authors {
    width: 540px;
  }
  .single_post__author {
    @include flexbox();
    @include align-items(stretch);
    figure {
      width: 65px;
      margin-right: 30px;
    }
    small {
      @include flex(1);
    }
  }
}