.support {
  &__top_panel {
    padding: 60px 0 30px;
    text-align: center;
    color: #fff;
    @include rwd-range(1024, 768){
      margin-top: -12px;
    }
    @include rwd-min(1025) {
      margin-top: -14px;
    }
    .container {
      width: 860px;
    }
    .content {
      max-width: 730px;
      margin: 0 auto 45px;
      @include rwd-min(1025) {
        margin: 0 auto 96px;
      }
    }
    h1 {
      @extend .h2;
      padding-bottom: 20px;
      @include rwd-min(1025) {
        padding-bottom: 38px;
      }
    }
  }
  &__info {
    &_boxes {
      @include rwd-min(768) {
        @include flexbox();
        @include align-items(stretch);
        @include justify-content(flex-start);
        @include flex-wrap(wrap);
        margin: 0 -23px;
      }
    }
    &_box {
      @extend .last_no_spacing;
      text-align: center;
      background-color: #fff;
      padding: 35px 12px 30px;
      color: #333331;
      margin-bottom: 30px;
      width: 100%;
      @include rwd-min(768) {
        margin: 0 23px 30px;
      }
      @include rwd-range(1024, 768){
        width: calc(50% - 46px);
      }
      @include rwd-min(1025) {
        width: calc(33.333% - 46px);
      }
      h4 {
        color: $tx;
        padding-bottom: 45px;
      }
      .button {
        display: block;
        margin: 0 18px 45px;
      }
    }
  }
  &__accordion {
    padding: 38px 0 50px;
    .container {width: 730px;}
    h2 {
      text-align: center;
    }
    &_row {
      border-bottom:1px solid #979797;;
      .acc_title {
        @extend %ani;
        padding: 21px 55px 21px 0;
        position: relative;
        cursor: pointer;
        -moz-user-select: none;
        user-select: none;
        @include hover {
          color: $cl;
          .circle_arrow {color: $cl;}
        }
        &.is_open {
          .circle_arrow {
            &:before {
              top: 18px;
              right: 23px;
              @include transform(rotate(-90deg));
            }
          }
        }

        .circle_arrow {
          @extend %ani;
          @include center(false, true);
          right: 0;
          display: inline-block;
          width: 48px;
          height: 48px;
          color: #979797;
          -moz-user-select: none;
          user-select: none;
          &:before {
            content: '\e91b';
            @include center();
            @include transform(rotate(90deg));
            font-family: $icons;
            font-size: 22px;
            line-height: 1;
            top: 8px;
            right: 21px;
          }
        }
      }

      .content {
        @extend .last_no_spacing;
        display: none;
        padding-bottom: 30px;
      }
    }
  }
  &__bottom {
    padding: 44px 0 48px;
    background-color: #f2f2f2;
    text-align: center;
    .container {width: 730px;}
    .content {
      @extend .last_no_spacing;
    }
    &__top_content {
      margin-bottom: 35px;
      @include rwd-min(1025) {
        margin-bottom: 64px;
      }
    }
    &__image {
      display: inline-block;
      margin-bottom: 44px;
    }
  }
}