// reset

* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
*, *:before, *:after {box-sizing: inherit}

html, body {margin: 0; height: 100%}

html {
  font: 400 #{$fb * 0.7}/1.6 $ff;
  box-sizing: border-box;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  @include rwd-range(1024, 768) {font-size: $fb * 0.8}
  @include rwd-range(1366, 1025) {font-size: $fb * 0.9}
  @include rwd-min(1367) {font-size: $fb}
}
body {
  @include flexbox;
  @include flex-direction(column);
  min-height: 100vh;
  background: $bg;
  font-size: $fp;
  letter-spacing: 0.1px;
  color: $tx;
  @include rwd-max(1024) { &.is_overflow {overflow: hidden} }
}
#main {
  @include flex(1, 0, auto);
  overflow: hidden;
  padding-top: 100px;
  @include rwd-range(1024, 768) {padding-top: 122px}
  @include rwd-min(1025) {padding-top: 222px}
}
.container {
  width: 1110px;
  max-width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
  @include rwd-min(481) {max-width: calc(100% - 78px)}
  &.is_large {width: 1310px;}
}

article, aside, figure, footer, header, nav, section {display: block}
button {background: rgba(255, 255, 255, 0); border: medium none}
h1, h2, h3, h4, h5, h6 {font-weight: normal}
ol {list-style-position: inside}
strong, b {font-weight: 700}
td {vertical-align: middle}
table {border-spacing: 0}
mark {background: none}
ul {list-style: none}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

%ani {@include transition()}

a {
  @extend %ani;
  color: $cl;
  outline: 0 none;
  text-decoration: none;
  @include hover {
    outline: 0 none;
    text-decoration: none;
  }
  > img {border: 0}
}

input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]), select, textarea {
  @extend %ani;
  width: 100%;
  outline: 0 none;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  &:-webkit-autofill {
    -webkit-text-fill-color: $tx !important;
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  }
}
input[type="submit"],
input[type="button"] {
  width: auto;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
}
input, textarea {@include placeholder {color: $tx; opacity: 1}}

// selection
:focus {outline: none}
::-moz-focus-inner {border: 0}
::selection {color: #fff; background: $cl}
::-moz-selection {color: #fff; background: $cl}

// custom scrollbar
html::-webkit-scrollbar {
  width: 6px;
  @include rwd-min(1025) {width: 10px}
}
::-webkit-scrollbar-thumb {background: $cl}
::-webkit-scrollbar-track {background: $bg}
::-webkit-scrollbar-thumb:hover {background: darken($cl, 5%)}
::-webkit-scrollbar-thumb:active {background: darken($cl, 5%)}
