// style guide

.button {
  @extend %ani;
  display: inline-block;
  vertical-align: middle;
  font: 600 16px/24px $ff;
  color: $bg;
  background-color: $cl;
  padding: 9px 24px 8px;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  @include hover {
    background-color: lighten($cl, 10)
  }

  &.is_dark {
    background-color: $tx;
    @include hover {
      background-color: lighten($tx, 10)
    }
  }

  &.is_bigger {
    padding: 15px 50px 14px;
    @include rwd-min(768) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &[disabled],
  &.is_disabled {
    pointer-events: none
  }
}

.link {
  color: $cl;
  text-decoration: underline;
  @include hover {
    color: $cl2
  }
}


h1, .h1, h2, .h2, h3, h4 {
  font-family: $ff3;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight: 600}

h1, .h1 {
  font-size: 37px;

  &:only-child {
    @extend .has_line;
    @include rwd-min(1025) {
      margin-bottom: 60px
    }
  }

  @include rwd-min(768) {
    font-size: 67px
  }
}

h2, .h2 {
  font-size: 28px;
  @include rwd-min(768) {
    font-size: 38px
  }

  &.has-text-align-center,
  &[style*="text-align: center"] {
    margin-bottom: 35px;
    @include rwd-max(1024) {
      text-align: left !important
    }
    @include rwd-min(1025) {
      text-align: center;
      margin-bottom: 55px;
    }
    position: relative;
    z-index: 0;

    &:before {
      content: "";
      @include center(false, true);
      left: 0;
      right: 0;
      height: 1px;
      background-color: $tx;
    }

    s,
    del {
      display: inline-block;
      text-decoration: none;
      background-color: $bg;
      padding-right: 50px;
      position: relative;
      z-index: 1;
      @include rwd-range(1024, 768) {
        padding-left: 30px
      }
      @include rwd-min(1025) {
        padding-left: 50px
      }
    }
  }
}

h3, .h3 {
  font-size: 24px;
  @include rwd-min(768) {
    font-size: 28px
  }
  padding-bottom: 30px;
}

h4, .h4 {
  font-size: 18px;
  @include rwd-min(768) {
    font-size: 21px
  }
  padding-bottom: 30px;
}

h5, .h5 {
  font-size: inherit;
  font-weight: 700;
  padding-bottom: 30px;
}

h2, h3 {
  span {
    @extend .has_line;
    display: block;
    text-decoration: none !important;
  }
}

p {
  padding-bottom: 24px;

  &.j_empty {
    line-height: 0
  }

  &.less_spacing {
    sub {
      display: block;
      margin-bottom: -10px;
    }
  }

  span.tdu,
  span[style*="text-decoration: underline"] {
    font-size: 21px;
    font-weight: 500;
    text-decoration: none !important;
  }

  &.has-drop-cap:first-letter,
  mark {
    font: 700 88px/64px $ff2;
    color: $cl;
    float: left;
    margin: 7px 10px 0 0;
  }
}

small, sub {
  display: inline-block;
  vertical-align: baseline;
  font-size: 13px;
}

blockquote {
  font-size: 21px;
  font-family: $ff2;
  padding-left: 57px;
  margin-bottom: 30px;
  position: relative;
  + blockquote {margin-top: 60px;}
  &:not(.quote_deep_pink):not(.quote_blue):not(.quote_black) {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -4px;
      bottom: 6px;
      width: 4px;
      background-color: $cl;
      @include transform(rotate(11deg) translateX(20px));
      @include rwd-min(481) {
        top: -6px;
        @include transform(rotate(12deg) translateX(22px));
      }
      @include rwd-max(480) {
        @include transform(rotate(7deg) translateX(16px));
      }
    }
  }

  &.quote_deep_pink, &.quote_blue, &.quote_black {
    padding-left: 50px;

    &:before {
      content: "“";
      position: absolute;
      left: 0;
      top: -40px;
      font-size: 115px;
      line-height: 1;
    }
  }

  &.quote_deep_pink:before {
    color: $cl;
  }

  &.quote_blue:before {
    color: $cl2;
  }

  &.quote_black:before {
    color: #000;
  }

  p {
    padding-bottom: 0
  }
}

figcaption {
  font-size: 13px;
  font-family: $ff2;
  margin-top: 10px;
}

hr {
  border-top: none;
  border-bottom: 1px solid $bg2;
  margin-bottom: 20px;
}

time {
  font-family: $ff2
}

.content {
  h4, h5, p, li {
    a:not(.button) {
      @extend .link
    }
  }

  h4, h5, p, ul, ol {
    &.no_spacing {
      padding-bottom: 10px
    }
  }

  li {
    padding-bottom: 20px
  }

  ul, ol {
    padding-bottom: 30px
  }

  ul:not(.blocks-gallery-grid) {
    li {
      position: relative;
      padding-left: 26px;

      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background: $cl;
        left: 0px;
        top: 7px;
        @include transform(rotate(45deg));
      }

      ul {
        padding: 20px 0 0;

        li {
          &:last-of-type {
            padding-bottom: 0;
          }

          &:before {
            background-color: transparent;
            border: 1px solid $cl;
          }
        }
      }
    }
  }

  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    li {
      counter-increment: my-awesome-counter;
      position: relative;
      padding-left: 28px;
      &:before {
        content: counter(my-awesome-counter) ". ";
        color: $cl;
        left: 0;
        position: absolute;
      }
      ol {
        padding: 20px 0 0;
        li {
          &:last-of-type {
            padding-bottom: 0;
          }
          &:before {
            content: counter(my-awesome-counter, lower-roman) ". ";
          }
        }
      }
    }
  }

  //.button {margin-top: 20px}
  img {
    &.alignnone {
      margin: 0 0 rem(21)
    }

    &.aligncenter {
      margin: 0 auto rem(21)
    }

    &.alignleft {
      float: left;
      margin: 0 rem(21) rem(21) 0;
    }

    &.alignright {
      float: right;
      margin: 0 0 rem(21) rem(21);
    }
  }

  figure.wp-block-image {
    margin-bottom: 30px;
  }

  .block__full_image,
  .block__middle_image {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
  }

  .block {
    &__full_image {
      width: 100vw;
      margin-left: -15px;
      @include rwd-range(807, 481) {
        margin-left: -39px
      }

      .single-post & {
        @include rwd-min(728) {
          margin-left: calc((100vw - 650px) / -2)
        }
      }

      .single-photo_essay & {
        @include rwd-min(808) {
          margin-left: calc((100vw - 730px) / -2)
        }
      }
    }

    &__middle_image {
      width: 1110px;
      max-width: calc(100vw - 30px);
      @include rwd-min(481) {
        max-width: calc(100vw - 78px)
      }

      .single-post & {
        @include rwd-range(1187, 728) {
          margin-left: calc((100vw - 650px - 78px) / -2)
        }
      }

      .single-photo_essay & {
        @include rwd-range(1187, 808) {
          margin-left: calc((100vw - 730px - 78px) / -2)
        }
      }

      @include rwd-min(1188) {
        .single-post & {
          margin-left: -230px
        }
        .single-photo_essay & {
          margin-left: -190px
        }
      }
    }
  }

  .has-background {
    padding: 1em 2em
  }

  .has-text-color a {
    color: inherit
  }

  .has-text-align-center {
    text-align: center
  }

  .has-text-align-left {
    text-align: left
  }

  .has-text-align-right {
    text-align: right
  }
}

.wp-block-group__inner-container {
  @include rwd-min(1025) {
    @include columns(2, 30px)
  }
}

.acf_one_column {
  @include rwd-min(1025) {
    width: calc(50% - 15px);
  }
}

.default_content {
  padding: 30px 0 60px;
  @include rwd-min(768) {
    padding-top: 60px
  }
  @include rwd-range(1024, 768) {
    padding-bottom: 80px
  }
  @include rwd-min(1025) {
    padding-bottom: 150px
  }

  &__inner {
    max-width: 695px
  }
}

[class^="i_"] {
  display: inline-block;
  vertical-align: middle;
}

// wp html5 video
.wp-block-video {
  [poster] {
    object-fit: cover
  }

  video {
    max-width: 100%
  }
}

// full-frame video
.full_frame {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0;

  > {
    iframe, object, embed {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1
    }
  }
}

.wp-block-media-text {
  // This block's direction should not be manipulated by rtl, as the mediaPosition control does.
  /*!rtl:begin:ignore*/
  direction: ltr;
  /*!rtl:end:ignore*/
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: auto;
  padding-bottom: 30px;

  &.has-media-on-the-right {
    grid-template-columns: 1fr 50%;
  }
  &.is-vertically-aligned-top {
    .wp-block-media-text__content,
    .wp-block-media-text__media {
      align-self: start;
    }
  }
  &.is-vertically-aligned-center {
    .wp-block-media-text__content,
    .wp-block-media-text__media {
      align-self: center;
    }
  }
  &.is-vertically-aligned-bottom {
    .wp-block-media-text__content,
    .wp-block-media-text__media {
      align-self: end;
    }
  }
  .wp-block-media-text__media {
    /*!rtl:begin:ignore*/
    grid-column: 1;
    grid-row: 1;
    /*!rtl:end:ignore*/
    margin: 0;
    align-self: center;
    img, video {
      max-width: unset;
      width: 100%;
      vertical-align: middle;
    }
  }
  .wp-block-media-text__content {
    direction: ltr;
    /*!rtl:begin:ignore*/
    grid-column: 2;
    grid-row: 1;
    /*!rtl:end:ignore*/
    padding: 0 8% 0 8%;
    word-break: break-word;
    align-self: center;
  }
  &.has-media-on-the-right .wp-block-media-text__media {
    /*!rtl:begin:ignore*/
    grid-column: 2;
    grid-row: 1;
    /*!rtl:end:ignore*/
  }
  &.has-media-on-the-right .wp-block-media-text__content {
    /*!rtl:begin:ignore*/
    grid-column: 1;
    grid-row: 1;
    /*!rtl:end:ignore*/
    @extend .last_no_spacing;
  }
  &.is-image-fill .wp-block-media-text__media {
    height: 100%;
    min-height: 250px;
    background-size: cover;
    > a {
      display: block;
      height: 100%;
    }
    img {
      // The image is visually hidden but accessible to assistive technologies.
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}

/*
* Here we here not able to use a mobile first CSS approach.
* Custom widths are set using inline styles, and on mobile,
* we need 100% width, so we use important to overwrite the inline style.
* If the style were set on mobile first, on desktop styles,
* we would have no way of setting the style again to the inline style.
*/
@media screen and (max-width: 767px) {
  .wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
    .wp-block-media-text__media {
      grid-column: 1;
      grid-row: 1;
      margin-bottom: 30px;
    }
    .wp-block-media-text__content {
      grid-column: 1;
      grid-row: 2;
      padding: 0;
    }
  }
}