// css applications

// custom hamburger
$h_bar_thickness: 2px;
$h_color: $tx;
$h_spacing: 10px;
$h_padding: 7px;
$h_height: 44px;
$h_width: 44px;

$h_active_padding: 7px;
$h_active_spacing: 10px;

$h_bg_static: null !default;
$h_bg_active: null !default;

.nav_icon {
  @extend %ani;
  @include transform( rotate(0deg) );
  display: block;
  height: $h_height;
  width: $h_width;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
  margin-left: -7px;
  z-index: 10;
  @if $h_bg_static != null {
    background: $h_bg_static;
  }
  @include hover {
    i {background-color: $cl}
  }
  @include rwd-min(1025) {display: none}
  i {
    top: ($h_height / 2) - ($h_bar_thickness / 2) - $h_spacing;
    @include transition( all, .25s, ease-in-out );
    @include transform( rotate(0deg) );
    height: $h_bar_thickness;
    background-color: $h_color;
    position: absolute;
    right: $h_padding;
    left: $h_padding;
    display: block;
    opacity: 1;
    &:nth-child(2) {
      top: ($h_height / 2) - ($h_bar_thickness / 2);
      right: 12px;
    }
    &:nth-child(3) {
      top: ($h_height / 2) - ($h_bar_thickness / 2) + $h_spacing
    }
  }
  &.is_active {
    @if $h_bg_active != null {
      background: $h_bg_active;
    }
    i {
      left: $h_active_padding;
      right: $h_active_padding;
      &:nth-child(1) {
        @include transform( rotate(135deg) );
        top: ($h_height / 2) - ($h_bar_thickness / 2)
      }
      &:nth-child(2) {
        @include transform( translate3d(-100%, 0, 0) );
        opacity: 0;
      }
      &:nth-child(3) {
        @include transform( rotate(-135deg) );
        top: ($h_height / 2) - ($h_bar_thickness / 2)
      }
    }
  }
}




// loader
$load_yellow: $cl;
$load_green: $cl;
$load_blue: $cl;
$load_red: $cl;

// scaling... any units
$load_width: 30px;

.show_box {
  @extend %ani;
  @include center();
  display: inline-block;
  vertical-align: top;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  &.is_loading {
    opacity: 1;
    visibility: visible;
  }
  .loader {
    margin: 0 auto;
    width: $load_width;
    position: relative;
    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
  .circular {
    @include animation(rotate 2s linear infinite);
    transform-origin: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .path {
    stroke-width: 3;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-dasharray: 1,200;
    animation: dash 1.5s ease-in-out infinite, color 3s ease-in-out infinite;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 3s ease-in-out infinite;
  }
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100%{
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color{
  100%, 0%{
    stroke: $load_red;
  }
  40%{
    stroke: $load_blue;
  }
  66%{
    stroke: $load_green;
  }
  80%, 90%{
    stroke: $load_yellow;
  }
}