// plugins: swiper, cf7, etc.

// swiper controls
.swiper-slide {box-sizing: border-box}
.sw_controls {
  @include center(false, true);
  left: 0;
  right: 0;
  z-index: 1;
}
.sw_prev,
.sw_next {
  @extend %ani;
  @include center(false, true);
  font-size: rem(54);
  color: #fff;
  cursor: pointer;
  &.swiper-button-disabled {
    opacity: 0.4;
    cursor: default;
  }
}
.sw_prev {left: 0}
.sw_next {right: 0}
.sw_pagination {
  text-align: center;
  bottom: 0 !important;
  .swiper-pagination-bullet {
    @extend %ani;
    opacity: 1;
    border: 1px solid $cl;
    background: transparent;
    @include hover {
      opacity: 1;
      background: $cl;
    }
    &.swiper-pagination-bullet-active {
      opacity: 1;
      background: $cl;
    }
  }
  &.swiper-pagination-bullets-dynamic {
    left: auto !important;
    @include transform(translateX(0)!important);
    margin: 30px auto 0;
  }
}




// custom select
$selectric-main-color:      #1c3557 !default;                                           // Color used in border
$selectric-text-color:      $tx !default;                                               // Color used in label
$selectric-bg-color:        #1c3557 !default;                                           // Background color
$selectric-height:          60px !default;                                              // Outer height
$selectric-spacing:         20px !default;                                              // Label left padding
$selectric-border-width:    0 !default;                                                 // Outer border width
$selectric-border-radius:   0 !default;                                                 // Border radius
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2) !default; // Inner height
$selectric-font-size:       16px !default;                                              // Font size

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {width: 100%}

.selectric {
  border: $selectric-border-width solid $selectric-main-color;
  border-radius: $selectric-border-radius;
  background: $selectric-bg-color;
  position: relative;
  overflow: hidden;
  @include hover {
    .label {color: $cl}
  }

  .label {
    @extend %ani;
    @include flexbox;
    @include align-items(center);
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 $selectric-inner-height 0 $selectric-spacing;
    font-size: $selectric-font-size;
    line-height: 1.5;
    color: $selectric-text-color;
    height: $selectric-inner-height;
    -moz-user-select: none;
    user-select: none;
    @include rwd-min(1025) {height: 80px}
    @include rwd-min(768) {text-transform: uppercase}
    @include rwd-max(480) {font-size: 15px}
  }

  .select_arrow {
    @include center(false, true);
    right: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    &:before {
      content: '\f107';
      font-family: $icons;
      font-size: 22px;
      line-height: 20px;
      color: $cl;
    }
  }

}

.selectric-open {
  z-index: 4;

  .selectric-items {display: block}
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 2px solid $bg;
  z-index: -1;

  .selectric-scroll {
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {width: 0}
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
    border-top: none;
    border-bottom: 2px solid $bg;
  }

  ul, li {
    font-size: $selectric-font-size;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    @extend %ani;
    display: block;
    padding: 10px 20px;
    color: $bg;
    background-color: $cl;
    cursor: pointer;

    @include hover {
      color: $tx;
      background: #773344;
    }

    &.selected, &.highlighted {
      color: $tx;
      background: #773344;
    }
  }

  .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #444;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}

.selectric-is_multiple {
  .selectric-items {
    li {
      border-top: 1px solid $cl;
      position: relative;
      &[data-index="0"] {
        padding: 0;
        min-height: 0;
        line-height: 0;
        font-size: 0;
        border-top: none;
        &:after {content: none}
      }
      &[data-index="1"] {border-top: none}
      &.selected {
        padding-right: 50px;
        &:after {opacity: 1}
      }
      &:after {
        content: '\e907';
        font-family: $icons;
        width: 20px;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
        color: $cl;
        text-align: center;
        @include center(false, true);
        right: 20px;
        opacity: 0;
      }
    }
  }
}




// cf7
div.wpcf7 {
  position: relative;
  .inputs_wrap {
    @extend .flex__mob;
    > * { @include rwd-min(768) {width: 47.3%} }
  }

  .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 15px;
    position: relative;
  }
  .wpcf7-not-valid-tip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    font: 400 16px/50px $ff;
    color: #ff694e;
    background: #fff;
    border-radius: 3px;
    padding: 0 15px;
    border: 1px solid #ff694e;
    cursor: pointer;
  }
  .wpcf7-form {
    &.invalid, &.failed {
      .wpcf7-response-output {
        background: #ff694e;
        position: relative;
      }
    }
    &.sent {
      .wpcf7-response-output {
        background: #80c684;
        position: relative;
      }
    }
    &.unaccepted {
      .wpcf7-response-output {
        background: #1091ae;
        position: relative;
      }
    }
  }
  .wpcf7-response-output {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font: 400 16px/1.4 $ff;
    color: #fff;
    padding: rem(12);
    border-radius: 0;
    text-align: center;
    margin-top: 20px;
  }
  input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]), textarea {
    display: block;
    height: 50px;
    font: 400 16px $ff;
    border-radius: 3px;
    color: $tx;
    background: #fff;
    padding: 0 15px;
    border: 1px solid #e7e7e7;
    @include placeholder {color: #2d2d2d; opacity: .5}
    &:focus {border-color: $cl}
  }
  .wpcf7-checkbox {
    @include inline-flex;
    .wpcf7-list-item label {
      position: relative;
      cursor: pointer;
      @include hover {
        input[type="checkbox"] + span:before {border-color: $cl}
      }
    }
  }
  textarea {
    height: 100px;
    resize: none;
    overflow: auto;
    padding: 12px 15px;
  }
  input[type="checkbox"] {
    display: none;
    & + span{
      &:before{
        @extend %ani;
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        background: #f1f1f1;
        margin-right: 15px;
        position: relative;
        top: 7px;
        border-radius: 3px;
        border: 1px solid #bfcebf;
      }
      &:after{
        @extend %ani;
        content: '\e907';
        font-family: $icons;
        font-size: 25px;
        color: #1c3557;
        position: absolute;
        left: 0;
        opacity: 0;
        z-index: 2;
      }
    }
    &:checked + span:after {opacity: 1}
  }
  button.button {
    & + input {display: none}
  }
  .ajax-loader {
    @extend %ani;
    @include prefixer(animation, swiper-preloader-spin 1s infinite linear);
    width: rem(24);
    height: rem(24);
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 100%;
    border: 2px solid #f1f1f1;
    border-top: 3px solid $cl;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .screen-reader-response {display: none}
}
