// header + main_menu

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $bg;
  z-index: 9;
  &.is_sticky {
    .logo img {
      @include rwd-min(1025) {width: 182px}
    }
  }
  .logo {
    img {
      @extend %ani;
      width: 138px;
      @include rwd-range(1024, 768) {width: 209px}
      @include rwd-min(1025) {width: 315px}
    }
  }
}

.header {
  &__top {
    @extend %ani;
    padding: 28px 0 27px;
    border-bottom: 1px solid $bg2;
    @include rwd-range(1024, 768) {padding: 30px 0 28px;}
    @include rwd-min(1025) {padding: 42px 0 41px}

    .is_sticky & {
      padding: 18px 0 17px;
      @include rwd-min(768) {padding: 20px 0 18px}
    }

    .container > div {
      @include rwd-min(768) {width: 190px}
      @include rwd-max(767) {width: 82px}
    }
  }

  &__search_latest {
    @include flexbox;
    @include align-items(center);
    white-space: nowrap;
    .button {margin-left: 28px}
  }

  &__subscribe_button {
    @include rwd-min(768) {text-align: right}
  }

  &__bottom {
    .container {
      @include rwd-min(1025) {
        padding: 11px 0 10px;
        border-bottom: 1px solid $bg2;
      }
    }
  }

  &__menu {
    @include transition(all, 0.25s, ease-in-out);
    @include rwd-max(1024) {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      overflow: auto;
      text-align: center;
      background: #fff url(../images/mob_menu.png) calc(100% - 10px) 100% / 258px auto no-repeat;
      z-index: 5;
      @include transform(translateX(-101%));
      &.is_open {@include transform(translateX(0))}
    }
    @include rwd-max(767) {background-size: 144px auto}
    @include rwd-range(1024, 768) {
      top: 120px;
      .is_sticky & {top: 100px}
    }
    @include rwd-max(767) {
      top: 100px;
      .is_sticky & {top: 80px}
    }
    ul {
      @include rwd-range(1024, 768) {padding: 40px 39px 100px}
      @include rwd-max(767) {padding: 30px 15px 40px}
    }
    li {
      font-weight: 600;
      @include rwd-min(1025) {margin: 0 50px}
      @include rwd-range(1024, 768) {
        font-size: 21px;
        &:not(:last-child) {margin-bottom: 90px}
      }
      @include rwd-max(767) {
        &:not(:last-child) {margin-bottom: 40px}
      }
    }
    a {
      color: $tx;
      @include hover {color: $cl}
    }
    .button.is_dark.rwd_show {
      color: #fff;
      @include rwd-max(767) {
        margin-top: 30px;
      }
      @include rwd-range(1024, 768){
        margin-top: 40px;
      }
    }
    .button.mob_show {
      color: #fff;
      @include rwd-max(767) {margin-bottom: 60px}
    }
  }
}

#menu {
  @extend %ani;
  position: fixed;
  top: 81px;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 440px;
  overflow: auto;
  padding: 40px 15px 0;
  background-color: $bg;
  border-right: 1px solid rgba($tx, 0.5);
  scrollbar-width: none;
  z-index: 5;
  @include transform(translateX(-101%));
  &.is_open {@include transform(translateX(0))}
  @include rwd-min(768) {padding: 50px 35px 0}
  &::-webkit-scrollbar {width: 0}
  li {
    &.current-menu-item {}
    &.group_title {
      padding-bottom: 13px;
      margin-bottom: 30px;
      pointer-events: none;
      border-bottom: 1px solid rgba($tx, 0.5);
      a {color: $tx}
    }
    &[class*="i_"] {
      @include flexbox;
      @include align-items(center);
      min-height: 45px;
      margin-bottom: 30px;
      position: relative;
      &:before {
        @include center(false, true);
        left: 0;
        width: 45px;
        height: 45px;
        font-size: 26px;
        line-height: 47px;
        color: $bg;
        text-align: center;
        border-radius: 50%;
        background-color: $tx;
        pointer-events: none;
      }
      a {
        @include flex(1);
        display: block;
        padding-left: 60px;
        @include rwd-min(768) {
          padding-right: 30px;
          position: relative;
          &:after {
            content: '\f105';
            font-family: $icons;
            @include center(false, true);
            right: 7px;
            font-size: 24px;
            color: $tx;
          }
        }
        @include hover {
          span,
          small {color: $cl}
        }
      }
      span {
        @extend %ani;
        font-weight: 500;
        color: $cl;
      }
      small {
        @extend %ani;
        color: $tx;
      }
    }
  }
  .menu_buttons {
    padding-bottom: 15px;
    .button {
      display: block;
      margin: 0 0 15px 0;
    }
  }
  .so_me {margin: -10px 0 20px}
}

.hamb_search_wrap {
  @include rwd-min(768) {@include order(-1)}
  @include rwd-range(1024, 768) {margin-left: -6px}
}

.search_toggle {
  @extend %ani;
  color: $tx;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  @include rwd-max(1024) {
    opacity: 0;
    visibility: hidden;
    margin-left: 15px;
    &.is_shown {
      opacity: 1;
      visibility: visible;
    }
  }
  @include rwd-max(380) {margin-left: 9px}
  .i_close {
    display: none;
  }
  &.is_shown {
    .i_search-cgp {
      display: none;
    }
    .i_close {
      display: block;
    }
  }
  figure {
    @extend %ani;
    font-size: 22px;
    line-height: 36px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  span {
    @extend %ani;
    margin-left: 9px;
  }
  @include hover {
    figure,
    span {color: $cl}
  }
}
#search_field {
  display: none;
  width: 1110px;
  max-width: calc(100% - 30px);
  padding: 0;
  background-color: transparent;
  @include rwd-min(481) {max-width: calc(100% - 78px)}
}

.search_form {
  position: relative;
  @include rwd-max(767) {
    padding-top: 10px;
  }
  @include rwd-range(1024, 768){
    padding-top: 15px;
  }
  @include rwd-min(1025) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 30px 0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    background-color: #ffffff;
    form {
      max-width: 920px;
    }
  }
  &.is_shown {
    display: block;
  }
  form {
    position: relative;
    margin: 0 auto;
  }
  input {
    height: 32px;
    border: none;
    border-bottom: 1px solid $bg2;
    background-color: transparent;
    font: 400 14px $ff;
    color: $tx;
    padding-right: 50px;
    @include rwd-max(767) {
      padding-left: 20px;
    }
    @include rwd-range(1024, 768){
      padding-left: 40px;
    }
    @include rwd-min(768) {
      height: 42px;
    }
    @include placeholder {
      color: $tx;
      opacity: 1;
      text-transform: uppercase;}
  }
  button {
    @include center(false, true);
    right: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
    @include rwd-max(767) {
      right: 6px;
    }
    @include rwd-range(1024, 768){
      right: 14px;
    }
    @include rwd-min(768) {
      width: 42px;
      height: 42px;
    }
    &:before {
      @extend %ani;
      font-size: 18px;
      line-height: 32px;
      color: $tx;
      @include rwd-min(1025) {
        line-height: 42px;
      }
    }
    @include hover {
      &:before {color: $cl}
    }
  }

  .show_box {
    @include transform(translate(0, 0));
    left: 20px;
    @include rwd-range(1024, 768) {left: 40px}
    @include rwd-max(1024) {top: calc(100% + 5px)}
    @include rwd-min(1025) {
      @include transform(translate(-100%, -50%));
      left: -30px;
    }
  }
}


.fancybox-bg {background-color: $cl2}
.fancybox-is-open .fancybox-bg {opacity: 0.98}

.header_buttons {
  a:not(.button) {
    color: $tx;
    @include hover {color: $cl}
  }
  .button {
    margin-right: 0;
    margin-left: 28px;
    @include rwd-min(1025) {margin-left: 40px}
    @include rwd-range(1024, 768) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
