// footer

footer {
  color: #F0EFEB;
  padding: 50px 0;
  background-color: $tx;
  @include rwd-max(767) {
    text-align: center;
  }
  .flex_start__mob {
    @include rwd-range(1024, 768){
      @include flex-wrap(wrap);
    }
  }
  a {
    color: #f0efeb;
    @include hover {
      color: $cl2;
    }
  }
  .footer_logo {
    display: inline-block;
    width: 209px;
    @include rwd-max(767) {
      margin-bottom: 50px;
    }
    @include rwd-range(1024, 768){
      margin-right: 84px;
    }
    @include rwd-min(1025) {
      width: 254px;
    }
  }
  .footer_menu {
    @include rwd-range(1024, 768){
      @include flex(1);
    }
    @include rwd-min(1025) {
      width: 260px;
    }
    ul {
      @include flexbox();
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      @include rwd-max(767) {
        padding-bottom: 15px;
      }
      li {
        width: 50%;
        margin-bottom: 15px;
        @include rwd-max(767) {
          text-align: center;
        }
        @include rwd-min(768) {
          white-space: nowrap;
        }
      }
    }
  }
  .footer_menu_2 {
    ul {
      @extend .flex;
    }
  }
  .footer_contact {
    width: 255px;
    @include rwd-range(1024, 768){
      padding-top: 15px;
      margin-left: 293px;
    }
    @include rwd-max(767) {
      margin: 0 auto;
    }
  }
}


// social media + share buttons
.so_me {
  font-size: 0;
  a {
    color: $cl2;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    line-height: 1;
    text-align: center;
    position: relative;
    @include hover {
      color: $bg2;
    }
  }
}

.so_me {
  @extend .flex;
  padding-bottom: 20px;
  margin-bottom: 22px;
  border-bottom: 1px solid $bg2;
  a {
    + a {
      margin-left: 20px;
    }
  }
}

.breadcrumbs_shares {
  padding: 18px 0 63px;
  @include rwd-min(768) {
    padding: 36px 0 85px;
  } 
}

.breadcrumbs {
  font-family: $ff2;
  font-style: italic;
  @include rwd-range(1024, 768) {max-width: 50%}
  a {
    color: $tx;
    @include hover {
      color: $cl;
    }
  }
  .breadcrumb_separator {
    margin: 0 7px;
  }
}