$fb: 30px;
$fp: 16px;
$cl: #B53C59;
$cl2: #8EDEE5;
$tx: #222;
$bg: #fff;
$bg2: #CFCFCF;
$bg3: #F5F0EA;
$ff: 'Epilogue', sans-serif;
$ff2: 'Migra', serif;
$ff3: $ff2;
$icons: 'icons';

@import 'parts/00_mixins';
@import 'parts/01_reset';
@import 'parts/02_classes';
@import 'parts/03_ui_kit';
@import 'parts/04_apps';
@import 'parts/05_plugins';
@import 'parts/06_header';
@import 'parts/07_footer';

@import 'templates/00_tpl_parts';
@import 'templates/01_front_page';
@import 'templates/02_tpl_about';
@import 'templates/03_tpl_careers';
@import 'templates/04_tpl_program';
//@import 'templates/05_tpl_program_overview';
//@import 'templates/06_tpl_events';
@import 'templates/07_single';
@import 'templates/08_single_people';
@import 'templates/09_tpl_contact';
@import 'templates/10_search';
@import 'templates/11_single_photo_essay';
@import 'templates/12_print';
@import 'templates/13_support';